
html,body{
    min-height: 100%;
    min-width: 100%;
}

body{
    margin: 0;
    color: white;
    font-family: 'Lilita One', sans-serif;
}

.contenedorIS{
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;
    grid-template-rows: 1fr;
    justify-content: center;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: red;
}

h1{
    text-align: center;
    font-size: medium;
}





/*Inicio de sesión*/

/*Primera columa de INICIO de SESION*/
.primeraColumnaIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), #1C1C1C;
    height: 100%;
    width: 12vw;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;

}

.logoIS{
    margin-top: 1rem;
}

.tienda_bibl_cat_plaIS > h1{
    margin: 3vh 0;
}

.tienda_bibl_cat_plaIS > h1:hover{
    color: red;
}

.h1IS{
    text-align: center;
    font-size: medium;
}
.configuracionIS{
    margin-top: 60vh;
    margin-bottom: 2vh;
}







/*SEGUNDA COLUMNA DE INICIO DE SESION*/
.segundaColumnaIS{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 1.45%, rgba(0, 0, 0, 0.20) 3.91%, rgba(33, 33, 33, 0.20) 6.06%), linear-gradient(90deg, #1D1D1D 0%, #3E3E3E 8.12%, #434343 91.08%, #1D1D1D 99.43%);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 12vw;
    right: 12vw;
}

.barraBotonesIS{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 12vw;
    right: 12vw;
    height: 100px;
    background: linear-gradient(180deg, #1C1C1C 28.6%, #1C1C1C 92.7%);
    z-index: 5;
}

.barraBotonesIS >div{
    margin: auto;
}

.barraBotonesIS > p{
    margin: auto;
}

.barraBotonesIS > p:hover{
    color: red;
}

.buscadorIS {
    border-radius: 10rem;
    background-color: #7A7A7A;
    width: 10rem;
    height: 2rem;
    text-align: left;
    border: 3px solid black;
    margin-top: 0.6vh;
}

.buscadorIS > p{
    margin: 0.5rem 0.5vw;
}








/*CUADRO DEL INIICO DE SESIÓN*/
.contenedorInicioSesion{

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 1.45%, rgba(0, 0, 0, 0.20) 3.91%, rgba(33, 33, 33, 0.20) 6.06%), linear-gradient(90deg, #1D1D1D 0%, #3E3E3E 8.12%, #434343 91.08%, #1D1D1D 99.43%);
    
    bottom: 0px;
    position: absolute;
    left: 0vw;
    color: black;
    right: 0vw;
    top: 100px;
    display: flex;
}

.contenedorItemsInicioSesion{
    background-color: #E6E6E6;
    align-items: center;
    height: 30em;
    width: 22em;
    border-radius: 1.5em;
    text-align: center;
    margin: auto;
}

.contenedorItemsInicioSesion > .logo > img{
    margin-top: 1vh;
}


fieldset{
    border: none;
    margin-top: 10px;
}

legend{
    font-size: 1rem;
}
::placeholder{
    font-family: 'Lilita One', sans-serif;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}

#correo{
    border: none;
    background-color: #E6E6E6;
    outline: none;
    text-decoration: underline 2px solid black;
    margin: 2vh 2vw;
}

#contrasenia{
    border: none;
    background-color: #E6E6E6;
    outline: none;
    text-decoration: underline 2px solid black;
    margin: 1vh;
}

#enviarFormulario{
    border: 2px solid black;
    background-color: #7A7A7A;
    font-family: 'Lilita One', sans-serif;
    width: 10em;
    height: 2.5em;
    color: white;
    border-radius: 15px;
    
}


/*Deslizador*/
.switch {
    position: relative;
    width: 30px;
    height: 19px;
    margin: 1rem 1vw;

  }
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7A7A7A;
  border: 1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF0000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
  
.slider.round:before {
  border-radius: 50%;
}

.guardarSesion{
  display: flex;
  justify-content: center;
  margin: 1.5vh 1vw;
}

.pieInicioSesion{
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin: 0 2vw;
  font-size: 0.9rem;
}

.registrarme{
  text-decoration: underline 2px solid black;
}






















/*TERCERA COLUMNA DE INICIO DE SESION*/
.terceraColumnaIS{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), #1C1C1C;
    height: 100%;
    width: 12vw;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.containerTresIconosIS{
    display: flex;
}

.tresIconosIS{
    background-color: #7A7A7A;
    border: 3px solid black;
    border-radius: 5rem;
    margin: 1.9rem 0.4vw;
}

.tresIconosIS:hover{
    background-color: red;
}

.productosPopularesIS{
    display: flex;
    
}

.productosPopularesIS > img{
    border-radius: 20%;
    margin: auto 1vw;
}


.productosPopularesIS:hover{
    color: red;
}

.pieIS{
    margin-top: 24vh;
}

.pieIS > h1{
    margin: 3vh 0vw;
}

.pieIS > h1:hover{
    color:red;
}



@media (width < 1300px){

    .contenedorIS{
        grid-template-columns: 12vw 1fr 18vw;
    }
    

    /*Inicio de sesión*/

    /*Primera columa de INICIO de SESION*/
    .primeraColumnaIS{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), #1C1C1C;
        height: 100%;
        width: 12vw;
    }

    .logoIS{
        margin-top: 1rem;
    }

    .tienda_bibl_cat_plaIS > h1{
        margin: 3vh 0;
    }

    .tienda_bibl_cat_plaIS > h1:hover{
        color: red;
    }

    .h1IS{
        text-align: center;
        font-size: medium;
    }

    .configuracionIS{
        margin-top: 55vh;
    }



    .segundaColumnaIS{
        right: 18vw;
    }
        
        .barraBotonesIS{
            display: flex;
            justify-content: space-around;
            position: fixed;
            top: 0px;
            left: 12vw;
            right: 18vw;
            height: 100px;
            background: linear-gradient(180deg, #1C1C1C 28.6%, #1C1C1C 92.7%);
            z-index: 5;
            gap: 1em;
        }
    
        
        
        .barraBotonesIS > p:hover{
            color: red;
        }
        
        .buscadorIS {
            border-radius: 10rem;
            background-color: #7A7A7A;
            width: 10rem;
            height: 2rem;
            text-align: left;
            border: 3px solid black;
            margin-top: 0.6vh;
        }
        
        .buscadorIS > p{
            margin: 0.5rem 0.5vw;
        }












        /*TERCERA COLUMNA DE INICIO DE SESION*/
    .terceraColumnaIS{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), linear-gradient(0deg, #1C1C1C 0%, #1C1C1C 100%), #1C1C1C;
            height: 100%;
            width: 18vw;
        
    }

    .containerTresIconosIS{
        display: flex;
        justify-content: space-between;
    }

    .tresIconosIS{
        background-color: #7A7A7A;
        border: 3px solid black;
        border-radius: 5rem;
        margin: 1.9rem 0.4vw;
    }

    .tresIconosIS:hover{
        background-color: red;
    }

    .productosPopularesIS{
        display: flex;
    }

    .productosPopularesIS > img{
        border-radius: 20%;
        margin: auto 1vw;
    }


    .productosPopularesIS:hover{
        color: red;
    }

    .pieIS > h1{
        margin: 3vh 0vw;
    }

    .pieIS > h1:hover{
        color:red;
    }
}


@media (width < 800px){
    .barraBotonesIS {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 14em;
        gap: inherit;
    }


    .barraBotonesIS >div {
        /*margin: auto;*/
    }

    .barraBotonesIS > p {
        margin: auto;
        text-align: center;
    }
}

@media (width < 730px){
    .configuracionIS{
        margin-bottom: 0;
    }
    .productosPopularesIS{
        flex-direction: column;
        align-items: center;
    }

    .productosPopularesIS > p{
        text-align: center;
    }

    .containerTresIconosIS{
        flex-direction: column;
    }

    .tresIconosIS{
        margin-top: 2vh;
        margin-bottom: 0vh;
    }

    .pieIS{
        margin-top: 0;
    }

    .pieIS > h1{
        margin: 1em 0vw;
    }

    .configuracionIS > h1{
        font-size: 0.7rem;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1 {
        font-size: 0.7rem;
    }
}


@media (width < 700px){

    .productosPopularesIS > p{
        font-size: 0.7rem;
    }

    .pieIS > h1{
        font-size: 0.7rem;
    }


}




@media (width < 530px){
    .configuracionIS > h1{
        font-size: 0.4rem;
    }

    .logoIS > img
    {
        width: 17vw;
        height: 8vh;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1 {
        font-size: 0.5rem;
    }

    .productosPopularesIS > img{
        width: 13vw;
        height: 6vh;
    }

    .pieIS> h1{
        padding-bottom: 1vh;
    }

    .productosPopularesIS > p{
        font-size: 0.7rem;
        margin: 0.4em;
    }

    .pieIS> h1{
        font-size: 0.6rem;
        margin-bottom: 1em;
    }
    .buscadorIS{
        width: 20vw;
        height: 2em;
    }


    .juegoIS > img, .juegoIS > a > img{
        width: 50vw;
        height: 25vh;
    }


    
    .buscadorIS{
        width: 20vw;
        height: 2em;
    }

   

    .buscadorIS > p{
        margin: 0.4em 0.5vw;
    }

    
    .contenedorItemsInicioSesion{
        height: 40em;
        width: 50vw;
        font-size: 0.5rem;
        text-align: center;
        
    }

    .logoIS > img {
        width: 15vw;
        height: 8vh;
    }

    input[type="text"]{
        font-size: 0.5rem;
        margin: 1em;
    }

    input[type="password"]{
        font-size: 0.5rem;
        margin: 1em;
    }

    legend{
        font-size: 0.7rem;
    }

    #correo{
        margin: 1vh 1vw;
    }

    ::placeholder{
        font-size: 0.6rem;
    }

    #enviarFormulario{
        font-size: 0.7rem;
        width: 8em;
        height: 2em;
    }

    .switch{
        margin: 1em 1vw;
    }

    .slider{
        right: 1em;
        bottom: 1em;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(0em);
        -ms-transform: translateX(1.2em);
        transform: translateX(1.2em); 
    }

    .slider:before{
        height: 1.3em;
        width: 1.3em;
        bottom: 0em;
    }

    .pieInicioSesion{
        font-size: 0.6rem;
    }

    body{
        font-size: 0.6rem;
    }

}


@media (width < 550px){
    .configuracionIS > h1{
        font-size: 0.5rem;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1 {
        font-size: 0.5rem;
    }
    .contenedorItemsInicioSesion{
        height: 27em;
        width: 16em;
    }

    .buscadorIS > p{
        margin-top: 0.3em;
    }
}













@media (width < 531px){
    .buscadorIS {
        width: 20vw;
    }


    #correo{
        margin: 1vh 1vw;
    }

    .contenedorItemsInicioSesion{
        height: 40em;
        width: 50vw;
        font-size: 0.5rem;
        text-align: center;
        
    }

    .logoIS > img {
        width: 15vw;
        height: 8vh;
    }

    input[type="text"]{
        font-size: 0.5rem;
        margin: 1em;
    }

    input[type="password"]{
        font-size: 0.5rem;
        margin: 1em;
    }

    legend{
        font-size: 0.7rem;
    }

    ::placeholder{
        font-size: 0.6rem;
    }

    #enviarFormulario{
        font-size: 0.7rem;
        width: 8em;
        height: 2em;
    }

    .switch{
        margin: 1em 1vw;
    }

    .slider{
        right: 1em;
        bottom: 1em;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(0em);
        -ms-transform: translateX(1.2em);
        transform: translateX(1.2em); 
    }

    .slider:before{
        height: 1.3em;
        width: 1.3em;
        bottom: 0em;
    }

    .pieInicioSesion{
        font-size: 0.6rem;
    }
}


@media (width < 380px){
    .configuracionIS > h1{
        font-size: 0.4rem;
    }

    
    .buscadorIS > p {
        margin: 0.3rem 0.5vw;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1 {
        font-size: 0.5rem;
    }

    .productosPopularesIS > img{
        width: 10vw;
        height: 6vh;
    }

    .pieIS> h1{
        padding-bottom: 1vh;
    }

    .contenedorItemsInicioSesion{
        height: 38em;
        font-size: 0.5rem;
        text-align: center;
    }

    .logoIS > img {
        width: 15vw;
        height: 8vh;
    }

    input[type="text"]{
        font-size: 0.5rem;
        margin: 1em;
    }

    input[type="password"]{
        font-size: 0.5rem;
        margin: 1em;
    }


    legend{
        font-size: 0.7rem;
    }

    ::placeholder{
        font-size: 0.6rem;
    }

    #enviarFormulario{
        font-size: 0.7rem;
        width: 8em;
        height: 2em;
    }

    .switch{
        margin: 1em 1vw;
    }

    .slider{
        right: 1em;
        bottom: 1em;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(0em);
        -ms-transform: translateX(1.2em);
        transform: translateX(1.2em); 
    }

    .slider:before{
        height: 1.3em;
        width: 1.3em;
        bottom: 0em;
    }

    .pieInicioSesion{
        font-size: 0.6rem;
    }

}






/*Galaxy Fold horizontal Bien*/
@media (height >= 280px) and (height < 360px){

     
    /*PRIMERA COLUMNA*/
    .configuracionIS{
        margin-top: 20vh;
    }

    .configuracionIS > h1 {
        font-size: 0.6rem;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1{
        font-size: 0.6rem;
    }


    /*SEGUNDA COLUMNA*/
    .barraBotonesIS > p, .buscadorIS > p{
        font-size: 0.6rem;
    }

    .buscadorIS{
        height: 1.9em;
    }

    .buscadorIS > p{
        margin-top: 2vh;
    }

    
    .barraBotonesIS{
        height: 7em;
    }

    .contenedorInicioSesion{
        top: 78px;
    }
    

    .guardarSesion > p{
        font-size: 0.7rem;
    }
    .switch{
        margin: 0.5rem 1vw;
    }

    .pieInicioSesion > p{
        font-size: 0.7rem;
    }

    ::placeholder{
        font-size: 0.75rem;
    }

    legend{
        font-size: 0.8rem;
        margin: auto;
    }

    #correo{
        margin: auto;
    }

    .contenedorInicioSesion{
        bottom: -69vh;
    }

    .barraBotonesIS{
        font-size: 0.7em;
    }

    
    .contenedorItemsInicioSesion{
        margin-top: 8vh;
        width: 13em;
        height: 23em;
    }

    .contenedorInicioSesion{
        bottom: -74vh;
    }




    /*TERCERA COLUMNA*/

    .containerTresIconosIS{
        flex-direction: row;
    }

    .tresIconosIS{
        margin-bottom: 0;
    }

    .tresIconosIS > a >img{
        width: 1.4em;
        height: 1.4em;
    }

    .productosPopularesIS > img{
        width: 0em;
        height:0em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }

    .productosPopularesIS > p{
        font-size: 0.5rem;
    }

    .pieIS > h1{
        font-size: 0.5rem;
    }

    .pieIS{
        margin-top: 0;
    }

    
}



/*iPhone SE  horizontal     Samsung Galaxy S8+ BIEN*/
@media (height >= 360px) and (height <= 375px){

    /*PRIMERA COLUMNA*/
    .configuracionIS{
        margin-top: 7em;
    }


    /*SEGUNDA COLUMNA*/
    .buscadorIS {
        width: 6em;
        height: 1.5em;
    }

    .buscadorIS > p{
        margin-top: 0.4em;
    }
    
    .barraBotonesIS{
        height: 8em;
    }


    .contenedorItemsInicioSesion{
        margin-top: 1em;
        width: 15em;
        height: 27em;
    }

    .contenedorInicioSesion{
        bottom: -50vh;
    }

    .barraBotonesIS{
        font-size: 0.7em;
    }

    
    




    /*TERCERA COLUMNA*/

    .containerTresIconosIS{
        flex-direction: row;
    }

    .tresIconosIS > a >img{
        width: 1em;
        height: 1em;
    }

    .productosPopularesIS > img{
        width: 2em;
        height: 2em;
    }

    .productosPopularesIS > p{
        font-size: 0.5rem;
    }

    .pieIS > h1{
        font-size: 0.6rem;
    }

    .productosPopularesIS > p{
        margin-bottom: 0vh;
    }
    

}

@media (height >= 376px) and (height < 390px){


    .contenedorItemsInicioSesion {
        margin-top: 13vh;
        height: 98vh;
        width: 41vw;
        font-size: 0.5rem;
        text-align: center;
    }

    .contenedorInicioSesion{
        bottom: -44vh;
    }

}


/*iPhone 12 Pro   BIEN*/
@media (height >= 390px) and (height < 412px){


/*PRIMERA COLUMNA*/
.configuracionIS{
    margin-top: 6.5em;
}



/*SEGUNDA COLUMNA*/
.barraBotonesIS > p, .buscadorIS > p{
    font-size: 0.8rem;
}
.buscadorIS {
    width: 6em;
    height: 1.5em;
}

.buscadorIS > p{
    margin-top: 0.7vh;
}

.barraBotonesIS{
    height: 8em;
}


.contenedorItemsInicioSesion{
    margin-top: 15vh;
    width: 15em;
    height: 27em;
}

.contenedorInicioSesion{
    bottom: -14em;
}


/*TERCERA COLUMNA*/

.containerTresIconosIS{
    flex-direction: row;
    margin-top: 1em;
}

.tresIconosIS{
    margin-bottom: 0;
}

.tresIconosIS > a >img{
    width: 2em;
    height: 2em;
    
}

.productosPopularesIS > img{
    width: 2.6em;
    height: 2.6em;
}
.productosPopularesIS{
    margin: 0.1em;
}

.productosPopularesIS > p{
    font-size: 0.7rem;
}

.pieIS{
    margin-top: 0;
}

.pieIS > h1{
    font-size: 0.6rem;
    margin: 2vh;
}

}








/*Pixel7 y Samsung Galaxy S20 y Galaxy A51/71*/
@media (height >= 412px) and (height < 414px){



    .configuracionIS{
        margin-top: 7em;
        margin-bottom: 0;
    }
    
    
    .buscadorIS {
        width: 6em;
        height: 1.5em;
    }

    .buscadorIS > p{
        margin-top: 0.1em;
    }
    
    .barraBotonesIS{
        height: 8em;
    }


    ::placeholder{
        font-size: 0.8rem;
    }

    .pieInicioSesion > p{
        font-size: 0.8rem;
    }
    

.contenedorItemsInicioSesion{
    margin-top: 15vh;
    width: 15em;
    height: 27em;
}

.contenedorInicioSesion{
    bottom: -54vh;
}
    
    
    .containerTresIconosIS{
        flex-direction: row;
        margin-top: -0.5em;
    }
    
    .tresIconosIS{
        margin-bottom: 0;
    }
    
    .tresIconosIS > a >img{
        width: 2em;
        height: 2em;
        
    }
    
    .productosPopularesIS > img{
        width: 2.9em;
        height: 2.9em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }
    
    .productosPopularesIS > p{
        font-size: 0.7rem;
    }
    
    .pieIS{
        margin-top: 0;
    }
    
    .pieIS > h1{
        font-size: 0.7rem;
    }
    

}

/*BIEN*/
@media (height >= 414px) and (height < 430px){


    /*PRIMERA COLUMNA*/
    .configuracionIS{
        margin-top: 7em;
    }

    .buscadorIS {
        width: 12em;
        height: 2.5em;
    }

    .buscadorIS > p{
        margin-top: 0.7em;
    }

    /*SEGUNDA COLUMNA*/
    .barraBotonesIS > p, .buscadorIS > p{
        font-size: 0.8rem;
    }

    .buscadorIS > p{
        margin-top: 0.7em;
    }

    .barraBotonesIS{
        height: 8em;
    }

    .contenedorItemsInicioSesion{
        margin-top: 3em;
        width: 15em;
        height: 27em;
    }

    .contenedorInicioSesion{
        bottom: -50vh;
    }



    /*TERCERA COLUMNA*/

    .containerTresIconosIS{
        flex-direction: row;
        margin-top: 0em;
    }

    .tresIconosIS > a >img{
        width: 2em;
        height: 2em;
        
    }

    .productosPopularesIS > img{
        width: 2.6em;
        height: 2.6em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }

    .productosPopularesIS > p{
        font-size: 0.7rem;
    }

    .pieIS{
        margin-top: 0;
    }

    .pieIS > h1{
        font-size: 0.6rem;
    }

}


/*iphone 14 pro Max BIEN*/
@media (height >= 430px) and (height < 540px){


    .configuracionIS{
        margin-top: 7em;
        margin-bottom: 0;
    }
    
    
    .buscadorIS {
        width: 6em;
        height: 1.5em;
    }

    .buscadorIS > p{
        margin-top: 0.1em;
    }
    
    .barraBotonesIS{
        height: 8em;
    }


    ::placeholder{
        font-size: 0.8rem;
    }

    .pieInicioSesion > p{
        font-size: 0.8rem;
    }
    

.contenedorItemsInicioSesion{
    margin-top: 15vh;
    width: 15em;
    height: 27em;
}

.contenedorInicioSesion{
    bottom: -45vh;
}
    
    
    .containerTresIconosIS{
        flex-direction: row;
        margin-top: -0.5em;
    }
    
    .tresIconosIS{
        margin-bottom: 0;
    }
    
    .tresIconosIS > a >img{
        width: 2em;
        height: 2em;
        
    }
    
    .productosPopularesIS > img{
        width: 2.9em;
        height: 2.9em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }
    
    .productosPopularesIS > p{
        font-size: 0.7rem;
    }
    
    .pieIS{
        margin-top: 0;
    }
    
    .pieIS > h1{
        font-size: 0.7rem;
    }
    

}


/*Samsumg galaxy S8+ Se referencia con este, no con el otro*/
@media (height <= 360px) and (height > 290px){
    
    /*PRIMERA COLUMNA*/
    .configuracionIS{
        margin-top: 25vh;
    }

    .configuracionIS > h1 {
        font-size: 0.8rem;
    }

    .tienda_bibl_cat_plaIS > h1, .tienda_bibl_cat_plaIS > a > h1{
        font-size: 0.8rem;
    }


    /*SEGUNDA COLUMNA*/
    .barraBotonesIS > p, .buscadorIS > p{
        font-size: 0.6rem;
    }

    .buscadorIS{
        height: 1.5em;
    }

    .buscadorIS > p{
        margin-top: 0.3em;
    }

    .barraBotonesIS{
        height: 8em;
    }

    

.contenedorItemsInicioSesion{
    margin-top: 1em;
    width: 17em;
    height: 26em;
}

.contenedorInicioSesion{
    bottom: -50vh;
}

    /*TERCERA COLUMNA*/

    .containerTresIconosIS{
        flex-direction: row;
    }

    .tresIconosIS{
        margin-bottom: 0;
    }

    .tresIconosIS > a >img{
        width: 1.4em;
        height: 1.4em;
    }

    .productosPopularesIS > img{
        width: 2.5em;
        height: 2.5em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }

    .productosPopularesIS > p{
        font-size: 0.5rem;
    }

    .pieIS > h1{
        font-size: 0.6rem;
    }

    .pieIS{
        margin-top: 0;
    }

    
}


/*Surface duo horizontal, queda el vertical*/
@media (height >= 540px) and (height < 600px){


    .contenedorItemsInicioSesion{
        margin-top: 30vh;
        width: 17em;
        height: 27em;
    }
    
    .contenedorInicioSesion{
        bottom: -36vh;
    }

}

/*Nest Hub Bien*/
@media (height >=600px) and (height < 630px){

    .configuracionIS{
        margin-top: 40vh;
        margin-bottom: 0;
    }

    .pieIS {
        margin-top: 0vh;
        margin-bottom: 0;
    }

    .contenedorItemsInicioSesion{
        margin-top: 10vh;
        width: 17em;
        height: 72vh;
    }
    
    .contenedorInicioSesion{
        bottom: 0vh;
    }
}



@media (height >=630px) and (height < 768px){

    .configuracionIS{
        margin-top: 40vh;
        margin-bottom: 0;
    }


    .pieIS {
        margin-top: 0vh;
        margin-bottom: 0;
    }

    .contenedorItemsInicioSesion{
        margin-top: 10vh;
        width: 17em;
    }
    
    .contenedorInicioSesion{
        bottom: 0vh;
    }
}


/*IPAD MINI*/
@media (height >= 768px) and (height < 800px){
    .configuracionIS{
        margin-top: 40vh;
        margin-bottom: 0;
    }

    .pieIS {
        margin-top: 0vh;
        margin-bottom: 0;
    }


}


/*IPAD Air*/
@media (height >= 800px) and (height <= 820px){

    .configuracionIS{
        margin-top: 55vh;
        margin-bottom: 0;
    }

    .pieIS {
        margin-top: 17vh;
        margin-bottom: 0;
    }

    .pieIS > h1{
        font-size: 1rem;
    }
    .productosPopularesIS > p {
        font-size: 1rem;
    }

}


/*IPAD Pro*/
@media (height >= 821px) and (height < 1000px){

    .configuracionIS{
        margin-top: 55vh;
        margin-bottom: 0;
    }

    .pieIS {
        margin-bottom: 0;
    }

    .pieIS > h1{
        font-size: 1rem;
    }
    .productosPopularesIS > p {
        font-size: 1rem;
    }

}

@media (height <= 599px) and (height > 430px){
    .configuracionIS{
        margin-top: 40vh;
        margin-bottom: 0;
    }

    .pieIS {
        margin-top: 0vh;
        margin-bottom: 0;
    }

    .pieIS > h1{
        font-size: 0.6rem;
    }


    .containerTresIconosIS{
        flex-direction: row;
        margin-top: 2vh;
    }

    .tresIconosIS{
        margin-bottom: 0;
    }

    .tresIconosIS > a >img{
        width: 1.4em;
        height: 1.4em;
    }

    .productosPopularesIS > img{
        width: 3em;
        height: 3em;
    }
    .productosPopularesIS{
        margin: 0.1em;
    }

    .productosPopularesIS > p{
        font-size: 0.6rem;
    }

    .pieIS > h1{
        font-size: 0.6rem;
    }

    .pieIS{
        margin-top: 0;
    }


}
@media (height = 720px){

    .contenedorItemsInicioSesion{
        height: 65vh;
        margin-top: 9em;
    }

    
}